[[source]]

name = 'pypi'
verify_ssl = true
url = 'https://pypi.python.org/simple'


[packages]

funcy = "*"
json = "*"
html5print = "*"

[dev-packages]

mypy = "*"
yapf = "*"
isort = "*"
ptpdb = "*"
twine = "*"
wheel = "*"
pytest = "*"
neovim = "*"
sphinx = "*"
ptpython = "*"
docutils = "*"
"flake8" = "*"
hypothesis = "*"
pytest-cov = "*"
